.result-items {
	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-right: calc(var(--spacing) * 3);
		padding-top: calc(var(--spacing) * 2);
		padding-bottom: calc(var(--spacing) * 2);
		border-bottom: 1px solid lightgrey;
		position: relative;


		// TODO : Scroll Items

		.small-btn {
			min-height: 40px;
			min-width: 40px;
			display: flex;
			justify-content: center;
		}

		.filter-count {
			width: 1rem;
			height: 1rem;
			position: absolute;
			right: calc(var(--spacing) * 2.5);
			top: calc(var(--spacing) * 1.5);
			background-color: var(--brand-color);
			color: white;
			border-radius: 50%;
			font-weight: 500;
			font-size: 0.625rem;
			line-height: 0.75rem;
			display: flex;
			justify-content: center;
			align-items: center;

		}
	}

	.items {
		display: grid;
		grid-template-columns: auto auto;
		gap: var(--spacing);
		padding-left: calc(var(--spacing) * 2);
		padding-right: calc(var(--spacing) * 2);
		height: calc(100vh - 80px);
		overflow-y: scroll;
	}

}
