.result-items {
	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-right: calc(var(--spacing) * 3);
		padding-bottom: calc(var(--spacing) * 2);
		border-bottom: 1px solid lightgrey;
		position: relative;

		.filter-count {
			width: 1rem;
			height: 1rem;
			position: absolute;
			right: calc(var(--spacing) * 1);
			top: calc(var(--spacing) * -1.5);
			background-color: var(--brand-color);
			color: white;
			border-radius: 50%;
			font-weight: 500;
			font-size: 0.625rem;
			line-height: 0.75rem;
			display: flex;
			justify-content: center;
			align-items: center;

		}
	}

	.items {
		display: grid;
		grid-template-columns: auto auto;
		gap: var(--spacing);
		padding-left: calc(var(--spacing) * 2);
		padding-right: calc(var(--spacing) * 2);
	}

	.item {
		// width: 50%;
		// padding: var(--spacing);
		padding-top: calc(var(--spacing) * 2);
		padding-bottom: calc(var(--spacing) * 2);

		&__img {
			border-bottom: 1px solid lightgrey;
			> img {
				width: 100%;
			}
		}

		&__brand {
			font-size: 0.75rem;
			color: #565C5A;
			padding-top: var(--spacing);
			padding-bottom: calc( var(--spacing) * 0.25 );
		}
		
		&__name, &__price {
			font-weight: 600;
		}

		&__name {
			font-size: 0.875rem;
			line-height: 1.25rem;
			color: #3A3D3C;
		}

		&__price {
			font-size: 0.75rem;
			color: #565C5A;
			padding-top: calc( var(--spacing) * 0.25 );
		}

		&__seller {
			font-size: 0.625rem;
			line-height: 0.75rem;
			color: #909995;
			padding-top: calc( var(--spacing) * 0.25 );
		}
	}
}
