
.product-detail {

	* {
		margin: 0;
	}

	display: grid;
	gap: calc(var(--spacing) * 2);
	padding-top: var(--spacing);

	.header {
		display: flex;
		justify-content: space-between;
		align-items: center;

		&__heading {
			width: 70%;
			font-weight: 600;
			font-size: 0.875rem;
			line-height: 1.25rem;
			color: #1D1F1E;
		}
	}

	.main {

		display: grid;
		gap: calc(var(--spacing) * 1);

		&__img {
			width: 100%;
		}

		&__headings {
			display: grid;
			gap: calc(var(--spacing)/2);
		}

		&__heading {
			padding-left: var(--spacing);
			padding-right: var(--spacing);

			&--small {
				font-size: 0.75rem;
				line-height: 1rem;
				color: #565C5A;
			}

			&--large {
				font-weight: 600;
				font-size: 1rem;
				line-height: 24px;
				color: #3A3D3C;
			}
		}

		&__para {
			font-size: 0.75rem;
			line-height: 1rem;
			color: #737A77;
			padding-left: var(--spacing);
			padding-right: var(--spacing);
		}
	}

	.footer {

		list-style: none;
		padding: 0;
		display: grid;
		gap: calc(var(--spacing) * 1.5);

		.link {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding-left: var(--spacing);
			padding-right: var(--spacing);

			.small-btn--grey-rounded {
				width: 40px;
				height: 40px;
				background: #F7F7F7;
				border-radius: 24px;
				display: flex;
				justify-content: center;
			}

			&__info {
				width: 80%;
				padding-left: calc(var(--spacing));
			}

			&__title {
				width: 80%;
				font-weight: 600;
				font-size: 0.875rem;
				line-height: 1.25rem;
				color: #3A3D3C;
				margin: 0;
			}

			&__sub-title {
				margin: 0;
				font-weight: 500;
				font-size: 0.75rem;
				line-height: 1rem;
				color: #40B586;

			}
		}
	}	

}
