.search {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #E2E9E6;
	padding-bottom: calc(var(--spacing));
}

.searchbar-wrapper {
	width: 90%;
	height: 44px;
	background: #F4F5F5;
	border-radius: 8px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 calc(var(--spacing));

	input {
		background-color: transparent;
		outline: none;
		border: none;
		width: 100%;
	}

}

.small-btn {
	background: transparent;
	border: none;
	display: flex;
	align-items: center;
	color: grey;
	cursor: pointer;
}

