
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Moon+Dance&display=swap');

:root {
	--background: white;
	--brand-color: #40B586;
	// --brand-color: hsl(156, 47.8%, 48%);
	--brand-color-hs: 156 47.8%;
	--grey-hs: 0 0%;
	--l-0: 0%;
	--l-100: 10%;
	--l-200: 20%;
	--l-300: 30%;
	--l-400: 40%;
	--l-500: 50%;
	--l-600: 60%;
	--l-700: 70%;
	--l-800: 80%;
	--l-900: 90%;
	--l-1000: 100%;

	--transition-delay: 0.3s;
	--spacing: 8px;
}

.dark-theme {
	--background: black;

	--l-0: 100%;
	--l-100: 90%;
	--l-200: 80%;
	--l-300: 70%;
	--l-400: 60%;
	--l-500: 50%;
	--l-600: 40%;
	--l-700: 30%;
	--l-800: 20%;
	--l-900: 10%;
	--l-1000: 0%;

}

.green {
	--brand-color: #40B586;
	--brand-color-hs: 156 47.8%;
}

.red {
	--brand-color: hsl(0, 100%, 69%);
	--brand-color-hs: 0 100%;
}

.yellow {
	--brand-color: hsl(43, 100%, 68%);
	--brand-color-hs: 43 100%;
}

// @media (prefers-color-scheme: dark) {
//   :root {
//     --background: #333333; /* dark mode background color */
//     --text-color: #FFFFFF; /* dark mode text color */
//     --button-background-color: #CC3300; /* dark mode button background color */
//   }
// }

* {
	margin: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
	color: hsl(var(--grey-hs) var(--l-0));
}

html {
	font-size: 16px;
	line-height: 16px;
}

body {
	background-color: var(--background);
	transition: all var(--transition-delay) ease-in-out;
}

.container {
	padding-left: calc(var(--spacing) * 1);
	padding-right: calc(var(--spacing) * 1);
}

a {
	text-decoration: none;
}

.App {
	transition: all var(--transition-delay) ease-in-out;
	max-width: 420px;
	margin: auto;
	overflow: hidden;
	background-color: var(--background);
	// color: hsl(var(--grey-hs) var(--l-1000));
}

.page-wrapper {
	min-height: 98vh;
	// padding: var(--spacing) calc((var(--spacing)) * 1);
	display: flex;
	flex-direction: column;
}

