.search-default {


	.section__heading {
		font-family: 'Poppins';
		font-style: normal;
		font-weight: 500;
		font-size: 0.625rem;
		line-height: 0.75rem;
		text-transform: uppercase;
		color: hsl(153, 4.2%, var(--l-500));
		padding-top: calc(var(--spacing) * 2);
		padding-bottom: calc(var(--spacing) * 1);
	}

	.brands-wrapper {
		display: flex;
		overflow-x: auto;

		&::-webkit-scrollbar {
			width: 0;
		}
	}



	.products__wrapper {
		display: flex;
		overflow-x: auto;

		&::-webkit-scrollbar {
			width: 0;
		}
	}

}

