
.top-brand {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: var(--spacing);

	&__logo {
		width: 40px;
		height: 40px;
		border: 1px solid grey;
		border-radius: 50%;
		border: 1px solid #e2e9e6;
		background-color: white;
	}

	&__info {
		width: 80%;
		padding-left: var(--spacing);

		* { padding: 0; margin: 0; }
	}
	&__name {
		font-weight: 600;
		font-size: 14px;
		line-height: 20px;
		/* identical to box height, or 143% */

		/* Color/Text/Light/90 */
		color: hsl(160, 2.5%, var(--l-200));
	}

	&__products-no {
		font-weight: 400;
		font-size: 12px;
		line-height: 16px;
		/* identical to box height, or 133% */

		/* Color/Text/Light/70 */
		color: hsl(154, 3%, 46.5%);
		color: hsl(154, 3%, calc(var(--l-400) * 1.162));
	}
}
